<link rel="preload" href="/fonts/7f5d6g7h.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="alternate" type="application/rss+xml" title="Minsuk Kang" href="https://kangminsuk.com/blog/index.xml" />
<link rel="alternate" type="application/rss+xml" title="강민석" href="https://kangminsuk.com/ko/blog/index.xml" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.standalone.js"></script>
<script>
    var font = new FontFaceObserver('Clover');
    font.load().then(function () {
        document.documentElement.classList.add('ssc-font-loaded');
    });
</script>